.content-container {
	display: block;
}
.template  {
	display: none !important;
}
.score-table {
	display: table;
	margin: 0 auto;
	table-layout: fixed;
}
.score-table > .row {
	display: table-row;
}
.score-table > .row > * {
	display: table-cell;
	width: 100px;
	padding: 5px;
	line-height: 25px;
	/* border-bottom: 1px solid #AAAAAA; */
}
.score-table > .row.table-head > * {
	background: #888888;
	color: white;
	font-weight: 700;
}
.score-table > .row > *:first-child {
	width: 150px;
	font-weight: 700;
}
.score-table  input {
	width: 100%;
}
.add-ui:hover {
	cursor: pointer;
}


.wrap {
	margin: 0 auto;
	width: 250px;
	height: 300px;
}
.wrap:hover .login-container {
	display: block;
}
.login-container {
	display: none;
	width: 200px;
	margin: 15px auto;
	padding: 10px;
	border: 1px dashed #AAAAAA;
	text-align: center;
}

#notice {
	display: block;
	color: red;
	font-size: 18px;
	font-weight: 900;
	text-align: center;
}
